<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 객체가 생성될 때 초기화 메서드 호출해줘 -->
	<bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod"/>
	
</beans>
